@font-face {
    font-family: 'GT Alpina';
    src: local(GT Alpina);
    src: url(./fonts/GT-Alpina-Medium-Italic.woff) format('woff');
}

@font-face {
    font-family: 'GT America';
    src: local(GT America);
    src: url(./fonts/GT-America-Standard-Medium.woff) format('woff'),
    url(./fonts/GT-America-Standard-Medium-Italic.woff) format('woff');
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {font-family: 'GT America', 'Noto Sans KR', 
    sans-serif !important;}


header { 
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    background: white;
}

a {
    text-decoration: none;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 10px;
}

.navi {
    display: block;
    position: absolute;
    top: 100%;
    left: 10px;
    padding: 20px 0 20px 20px;
    width: 50%;
    visibility: hidden;
    transition: opacity 0.4s linear 0.1s, visibility 0.5s linear;
    opacity: 0;
    background-color: white;
    border: solid black 1px;
    border-radius: 13px;
}

.navi.on {
    -webkit-transition-delay: 0.1s, 0s;
    transition-delay: 0.1s, 0s;
    visibility: visible;
    will-change: opacity;
    opacity: 1;
}

.navi-item {
    text-align: left;
    text-decoration: underline;
}

.navi-item + .navi-item {
    margin-top: 8px;
}

.navi-item a {
    font-size: 26pt;
    letter-spacing: -1px;
}

.wrapper {
    width: 100%;
    height: auto;
    bottom: 0;    
}

.container {
    width: 100%;
    height: auto;
    float: left;
    padding: 0 10px 0 10px;
}

/* 햄버거 메뉴 */

.ham {
    cursor: pointer;
    background-color: transparent;
}

.bar1, .bar2, .bar3 {
    display: block;
    width: 28px;
    margin-bottom: 6px;
    height: 4px;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

.change .bar1 {
    transform: rotate(45deg) translate(8px, 8px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
 transform: rotate(-45deg) translate(6px, -6px);
}


/* 샐셀 홈버튼 */

.home a {
    text-decoration: none;
    color: #000000;
}

.home span {
    font-size: 26pt;
    letter-spacing: -1px;
}


.insta img{
    width: 30px;
    padding: 17px 0px 20px 0px;
    right: 20px;
}


/* main */
.main img {
    display: block;
    width: 100%;
}

.main {
    position: relative;
    height: 100vh;
    background: #e6321e;
}

.main-con {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 90%;
}

.menu_category span {
    font-family: 'GT America', sans-serif;
    font-size: 18pt;
    text-align: center;
}

.info_box {
    float: left;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-right: 20px;
    word-break: keep-all;
    z-index: 200;
}


.info-bg img {
    display: block;
    width: 100%;
}

.info-bg {
    position: relative;
    height: 100vh;
}

.info_photo_bg {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
}

.bg_1 {
    background-image: url("../img/info/info1.jpg");
}

.bg_2 {
    background-image: url("../img/info/info2.jpg");
}

.bg_3 {
    background-image: url("../img/info/info3.jpg");
}

.bg_4 {
    background-image: url("../img/info/info4.jpg");
}

.bg_5 {
    background-image: url("../img/info/info5.jpg");
}

.bg_6 {
    background-image: url("../img/info/info6.jpg");
}

.bg_7 {
    background-image: url("../img/info/info7.jpg");
}

.bg_8 {
    background-image: url("../img/info/info8.jpg");
}

.bg_9 {
    background-image: url("../img/info/info9.jpg");
}

/* 오더 페이지*/

.a {
    color: unset;
    text-decoration: unset;
}

.span a:link, a:visited, a:active {
    color: unset;
    text-decoration: unset;
}

.a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.marquee {
    height: 50px;
    overflow: hidden;
    position: relative;
    top: 75px;
}

.marquee div {
    display: block;
    width: 200%;
    height: 60px;
    position: absolute;
    overflow: hidden;
    animation: marquee 5s linear infinite;
}

.marquee span{
    font-family: 'GT America', sans-serif;
    font-size: 16pt;
    float: left;
    width: 50%;
}

@keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
}

.order {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order img{
    width: 75%;
    float: left;
    position: relative;
    top: 80px;
    left: 10%;
    margin-bottom: 100px;
}

.delivery_illust img{
    width: 68%;
    float: left;
    position: relative;
    top: 0px;
    left: 14%;
    margin-bottom: 100px;
}

.order_title {
    font-family: 'GT Alpina', serif;
    font-size: 60pt;
    float: left;
    text-align: center;
    letter-spacing: -3px;
    width: 100%;
    margin-bottom: 0px;
}

.order_title_kr span{
    font-size: 12pt;
    float: left;
    text-align: center;
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 30px;
}

.order_contents{
    border-top: solid black 1px;
    padding: 20px 0 0 0;
    float: left;
    margin-bottom: 60px;
}

.order_contents span{
    font-size: 12pt;
    line-height: 1.65;
    text-align: left;
}

.detail_txt {
    padding-left: 15px;
}

.detail_txt span{
    font-size: 12pt;
    word-break: keep-all;
    line-height: 1.65;
}

.news {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news img{
    width: 80%;
    float: left;
    position: relative;
    top: 80px;
    left: 10%;
    margin-bottom: 100px;
}

.news_contents{
    border-top: solid black 1px;
    padding: 20px 0 0 0;
    float: left;
    margin-bottom: 60px;
}

.news_contents img{
    width: 100%;
    height: auto;
}

ul  {
    padding-inline-start: 20px;
}

.news_txt {
    font-size: 12pt;
    line-height: 1.65;
    word-break: keep-all;
    padding-left: 20px;
    text-align: left;
}


.info_txt {
    float: left;
    width: 100%;
    padding: 0 0px 30px 0px;
}

.info_txt_kr {
    width: 50%;
    float: left;
    font-size: 8pt;
    word-break: keep-all;
    line-height: 1.5;
}

.info_txt_en {
    float: left;
    width: 50%;
    font-size: 8pt;
    word-break: keep-all;
    line-height: 1.5;

}


/* 메뉴 페이지*/

.section {
    scroll-margin-top: 60px;
}


.menu_category {
    float: left;
    width: 100%;
    position: fixed;
    top: 75px;
    text-align: center;
    z-index: 100;
}

.menu_category span{
    font-size: 14pt;
    font-family: 'GT America', sans-serif;
    line-height: 1.5;
}


.menu_container {
    width: 100%;
    float: left;
    position: relative;
    top: 155px;
    height: auto;
    overflow-y: scroll;

}

.menu_divider {
    width: 100%;
    float: left;
    position: relative;
    font-family: 'GT America', sans-serif;
    font-size: 14pt;
    border: 1px black solid;
    border-radius: 20px;
    padding: 3px;
    text-align: center;
    margin-bottom: 20px;
}


.item {
    width: 100%;
    padding-bottom: 30px;
    border-bottom: black solid 1px;
    padding-top: 30px;
}

.menu_container .item:nth-last-child(1) {
    border-bottom: none;
    margin-bottom: 30px;
}

.item_top {
    width: 100%;
    float: left;
    position: relative;
    padding-bottom: 15px;
}

.menu_title {
    width: 78%;
    float: left;
    line-height: 1.25;
    font-size: 24px;
}

.add_box {
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 15px;
}


.add_title {
    width: 75%;
    top:0px;
    float: left;
    line-height: 1.6;
    font-size: 16px;
}

.add_price {
    width: 20%;
    top:0px;
    float: right;
    line-height: 1.6;
    font-size: 16px;
    text-align: right;
}

.add_detail{
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 60px;
    top: 0px;
    word-break: keep-all;
    line-height: 1.4;
    font-size: 11px;
}

.item_tag {
    width: 22%;
    float: right;
    margin-top: 5px;
}

.price {
    float: right;
    width: 100%;
    line-height: 1.25;
    text-align: right;
    font-size: 10pt;
}


.sticker {
    float: right;
    top: 0px;
    font-size: 20px;
    font-family: 'GT Alpina', serif;
    font-style: italic;
    padding-top: 5px;
}

.vegan {
    color: rgb(0,120,120);
}

.best {
    color: rgb(230,50,30);
}

.seasonal {
    width: 80%;
    float: left;
    margin-top: 5px;
    font-family: 'GT America', sans-serif;
    font-size: 14px;
    line-height: 1.25;
}


.menu_pic img {
    width: 100%;
    padding-bottom: 10px;
}


.ingredients {
    word-break: keep-all;
    line-height: 1.4;
    font-size: 8px;
}
